body {
    font-family: Arial, sans-serif;
    padding: 10px;
}

h1 {
    color: black;
    font-size: 32px;
    margin-bottom: 30px;
}

.bookmarks {
    display: flex;
    gap: 20px;
}

.bookmarks img {
    width: 120px;
    height: 100px;
    padding: 10px;
}