
.box-container {
    display: flex;
    gap: 4px;
}

#first {
    background-color: turquoise;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}
#second {
    background-color: orange;
    width: 50px;
    height: 50px;
    border: 1px solid black;
}

#container {
    background-color: lightgray;
    width: 215px;
    box-shadow: 2px 2px;
}

.button {
    background-color: rgb(0, 255, 0);
}